<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        View | Notify
    </title>
</head>

<body class="body">
    <div class="app">
        <h1 style="color: blue;"> Search Recipe </h1>
        <input type="text" id="dish" placeholder="eg: Paneer , Potato"></input>
        <p>Due to API limitation we can't accept a sentence here like "Chicken tikka"</p>
        <button onclick="fetch_details()" class="button">Get Recipe</button>
        <div id="content" class="content">
            Recipe
        </div>
    </div>
</body>
<style>
    .app {
        margin: 3px;
        padding: 3px;
        background-color: lightpink;
    }

    .body {
        margin: 3px;
        padding: 3px;
        background-color: black;
        align-items: center;
        text-align: center;
    }

    .content {
        border: 1px solid green;
        text-align: left;
        background-color: burlywood;
        margin: 3px;
        padding: 3px;
        font-size: larger;
        font-style: inherit;
        word-wrap: break-word;
    }

    .button {
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        background-color: bisque;
    }
</style>
<script src="/fetch.js"></script>

</html>